$primary-color: #222831;
$secondry-color: #393e46;
$tertiary-color: #00adb5;
$quaternary-color: #eeeeee;

.page {
  min-height: 100vh;
  min-width: 100vw;
  // background-color: $primary-color;
  color: $quaternary-color;
  background-image: url(./assets/images/bg2.webp);
  background-position: center;
  background-size: cover;
}
// .page .start_container {
//   min-height: 100vh;
//   min-width: 100vw;
// }
.page .start_container .start {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  padding: 90px 100px;
  /* border: 1px solid #eeeeee; */
  border: 2px solid #00adb5;
  box-shadow: 0px 4px 24px #ffffff59;
  border-radius: 20px;
  gap: 50px;
  background-color: #00003cb5;
}
.page .start_container .start form button{
  border: 1px solid #eeeeee;
  padding: 10px 30px;
  border-radius: 50px;
}
